.dasomLocation .location-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    width: 100%;
    max-width: 450px;
}

.dasomLocation .location-list  li:nth-child(2){
    background:#c8c8c8;
}

.dasomLocation .location-list li{
    border: 1px solid #dee2e6;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dasomLocation .location-list li > p {
    margin: 0;
}

.dasom-location-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* 화면 크기가 작아지면 줄 바꿈 */
    margin-top:60px;
}

.dasom-location-register,
.dasom-location-input {
    flex: 1; /* 각 섹션이 동일한 크기를 가지도록 설정 */
    margin-right: 2%; /* 두 섹션 사이에 약간의 간격 추가 */
    min-width: 200px; /* 최소 너비 설정 */
}

.dasom-location-register {
  /*  margin-right: 2%; *//* 마지막 섹션의 오른쪽 마진을 설정 */
}

.dasom-location-input {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 20%;
}

.dasomLocation .location-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.dasomLocation .location-group label {
    width: 125px;
    margin-right: 1.5em;
}

.dasomLocation .location-group input {
        max-width: 20rem;
        width: 100%;
        height: 1.8rem;
        box-sizing: border-box;
        font-size: 1em;
        padding: 0 0.625rem;
    }

.dasomLocation .form-buttons {
    margin-top: 3em;
    text-align: center;
}

/* 미디어 쿼리 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
    .dasom-location-container {
        flex-direction: column; /* 세로로 정렬 */
    }

    .dasom-location-register,
    .dasom-location-input {
        margin-right: 0; /* 세로 정렬 시 오른쪽 마진 제거 */
        margin-left: 0; /* 세로 정렬 시 왼쪽 마진 제거 */
    }
}

.dasomLocation .selected {
   background-color: #462200;
}

.dasomLocation .selected p {
   color: #fff;
}


.dasomLocation .dropdown-menu{

    max-width: 20rem;
    width: 100%;
    transform: translate(736px, 270px);

}
.dasomLocation .dropdown-options{
    padding:0.5rem;
    margin-bottom:0;
}


.dasomLocation .dropdown-options li{
   list-style:none;
     border-radius: 3rem;
     border: 1px solid #dee2e6;
     padding: 0 5px;
     cursor:pointer;
     display:inline-block;
     text-align:center;
}


.dasomLocation .dropdown-options li:nth-child(n+6) {
  margin-top: 8px;
}

.dasomLocation input[type=radio] {
    accent-color: #000;
    margin-right: 1px;
}

.dasomLocation .location-info{
    border: 1px solid #dee2e6;
    width: 33%;
}


.dasomLocation label {
    font-size: 0.812rem;
}

.dasom-location-radio label {
    font-size: 0.812rem;
    margin-left: 3rem;
}

.dasomLocation .first-label {
    margin-left: 0.9rem;
}

.dasom-location-register-wrapper {
    padding-left: 100px;
    margin-top: 35px;
}

.dasom-location-radio p {
    margin-bottom: 12px;
}

.dasomLocation .form-buttons button {
    width: 17.5rem;
