.dasomLoaction .location-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    width: 300px;
}

.dasomLoaction .location-list li{
    border: 1px solid;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.dasomLoaction .location-list li > p {
    margin: 0;
}


.dasom-location-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dasom-location-register,
.dasom-location-input {
    flex: 1; /* 각 섹션이 동일한 크기를 가지도록 설정 */
    margin-right: 10px; /* 두 섹션 사이에 약간의 간격 추가 */
}

.dasom-location-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 80px;
}

.dasomLoaction .location-group label {
  width: 125px;
  margin-right: 20px;
}

.dasomLoaction .form-buttons{
margin-top:50px;
text-align: center;
}
